body {
    width: 600px;
    margin: 0 auto;
    font-family: 'Lucida Sans';
    color: #00376c;
}

a {
    color: #00376c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.services p,
footer p {
    font-style: italic;
}

h2 {
    border-bottom: 2px solid #7b7b7b;
    text-align: center;
}

h3 {
    border-bottom: 2px solid #1577ff;
    color: #1577ff;
    display: inline;
}

header {
    border-bottom: 6px solid #7b7b7b;
    line-height: 80px;
}

header,
footer {
    text-align: center;
    background-color: #c7e3ff;
    margin-bottom: 40px;
}

footer {
    padding: 10px;
}

.story,
.services,
.locations {
    padding: 10px 15px;
    margin-bottom: 40px;
    background-color: #e7e7e7;
}

img {
    width: 150px;
}